In [9]:
def fib(n):
    if n == 1:
        return 0
    elif n==2:
        return 1
    else:
        return fib(n-1)+fib(n-2)

In [10]:
n = int(input())
for i in range(1,n+1):
    print(fib(i), end=" ")

2
0 1

In [12]:
fib(10)

34

In [13]:
#print umber from 1 to n
def printOneToN(n):
    if n == 1:
        print(1)
        return
    else:
        printOneToN(n-1)
        print(n)

In [14]:
printOneToN(5)

1
2
3
4
5

In [15]:
def printNtoOne(n):
    if n == 1:
        print(1)
        return
    else:
        print(n)
        printNtoOne(n-1)

In [16]:
printNtoOne(4)

4
3
2
1

In [17]:
def fact(n):
    if n in [0,1]:
        return 1
    else:
        return n*fact(n-1)

In [18]:
fact(3)

6

In [19]:
def fact(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
    return fact

In [20]:
fact(10)

3628800

In [21]:
arr = [1,2,3,4]
arr[::-1]

[4, 3, 2, 1]

In [22]:
arr1 = []
def reverseArr(arr):
    if len(arr) == 1:
        arr1.append(arr[0])
        return 
    else:
        reverseArr(arr[1:])
        arr1.append(arr[0])
    return arr1

In [23]:
arr = [1,2,3,4]
reverseArr(arr)

[4, 3, 2, 1]

In [24]:
def reverseArr(arr):
    if len(arr) == 1:
        return
    else:
        temp = arr.pop(0)
        reverseArr(arr)
        arr.append(temp)

In [25]:
arr = [1,2,3,4]
reverseArr(arr)
arr

[4, 3, 2, 1]

In [27]:
def reverseStack(l):
    if len(l) == 1:
        stack1.append(l[0])
        return
    else:
        temp = l.pop(-1)
        stack1.append(temp)
        reverseStack(l)

In [28]:
stack = [1,2,3,4]
stack1 = []
reverseStack(stack)
stack1

[4, 3, 2, 1]

In [36]:
def fun(n):
    if n == 3:
        return
    else:
        print(n)
        fun(n-1)
fun(5)

5
4

In [41]:
def insert(arr,alpha):
    print("Array",arr,"alpha value",alpha," in insert function")
    if len(arr)==0 or arr[-1]<alpha:
        arr.append(alpha)
        print("alpha added in array in insert function",alpha)
        return  
    val = arr.pop(-1)
    print(val,"val poped in array in insert function")
    insert(arr,alpha)
    arr.append(val)
    print(val,"val added in array in insert function")
         
        
def sort(arr):
    print("Array in sort function",arr)
    if len(arr) == 1:
        return 
    alpha = arr.pop(-1)
    print(alpha," alpha poped in array in sort function")
    print("Array ",arr,"Alpha value ", alpha," in insert function")
    sort(arr)
    insert(arr,alpha)

In [42]:
arr = [1,0,3,8,2,5]
sort(arr)
arr

Array in sort function [1, 0, 3, 8, 2, 5]
5  alpha poped in array in sort function
Array  [1, 0, 3, 8, 2] Alpha value  5  in insert function
Array in sort function [1, 0, 3, 8, 2]
2  alpha poped in array in sort function
Array  [1, 0, 3, 8] Alpha value  2  in insert function
Array in sort function [1, 0, 3, 8]
8  alpha poped in array in sort function
Array  [1, 0, 3] Alpha value  8  in insert function
Array in sort function [1, 0, 3]
3  alpha poped in array in sort function
Array  [1, 0] Alpha value  3  in insert function
Array in sort function [1, 0]
0  alpha poped in array in sort function
Array  [1] Alpha value  0  in insert function
Array in sort function [1]
Array [1] alpha value 0  in insert function
1 val poped in array in insert function
Array [] alpha value 0  in insert function
alpha added in array in insert function 0
1 val added in array in insert function
Array [0, 1] alpha value 3  in insert function
alpha added in array in insert function 3
Array [0, 1, 3] alpha value 8  in insert function
alpha added in array in insert function 8
Array [0, 1, 3, 8] alpha value 2  in insert function
8 val poped in array in insert function
Array [0, 1, 3] alpha value 2  in insert function
3 val poped in array in insert function
Array [0, 1] alpha value 2  in insert function
alpha added in array in insert function 2
3 val added in array in insert function
8 val added in array in insert function
Array [0, 1, 2, 3, 8] alpha value 5  in insert function
8 val poped in array in insert function
Array [0, 1, 2, 3] alpha value 5  in insert function
alpha added in array in insert function 5
8 val added in array in insert function

[0, 1, 2, 3, 5, 8]

In [43]:
def toH(source,dest,hel,n):
    if n == 1:
        print("Plate ",n ," from ",source," to ",dest)
        return
    toH(source,hel,dest,n-1)
    print("Plate ",n ," from ",source," to ",dest)
    toH(hel,dest,source,n-1)

In [44]:
toH("s","d","h",3)

Plate  1  from  s  to  d
Plate  2  from  s  to  h
Plate  1  from  d  to  h
Plate  3  from  s  to  d
Plate  1  from  h  to  s
Plate  2  from  h  to  d
Plate  1  from  s  to  d

In [50]:
def subSetOfString(ip,op):
    if len(ip) == 0:
        print("String ",op)
        return 
    subSetOfString(ip[1:],op+ip[0])
    subSetOfString(ip[1:],op)

In [53]:
ip = "abc"
op = ""
subSetOfString(ip,op)

String  abc
String  ab
String  ac
String  a
String  bc
String  b
String  c
String

In [54]:
def subsetOfUniqueStr(ip,op):
    if len(ip) == 0:
        hash_map[op] = 1
        return
    subsetOfUniqueStr(ip[1:],op+ip[0])
    subsetOfUniqueStr(ip[1:],op)

In [58]:
hash_map = {}
ip = "abb"
op = ""
subsetOfUniqueStr(ip,op)
list(hash_map.keys())

['abb', 'ab', 'a', 'bb', 'b', '']

In [59]:
def permutationWithSpaces(ip,op):
    if len(ip) == 0:
        print(op)
        return 
    permutationWithSpaces(ip[1:],op+" "+ip[0])
    permutationWithSpaces(ip[1:],op+ip[0])

In [61]:
ip = "abc"
op = ""
permutationWithSpaces(ip[1:],ip[0])

a b c
a bc
ab c
abc

In [62]:
def permutationWithChange(ip,op):
    if len(ip) == 0:
        print(op)
        return
    permutationWithChange(ip[1:],op+ip[0].upper())
    permutationWithChange(ip[1:],op+ip[0])

In [63]:
ip = "ab"
op = ""
permutationWithChange(ip,op)

AB
Ab
aB
ab

In [64]:
def powerOfTwo(n):
    if n==0:
        return 1
    else:
        return 2*powerOfTwo(n-1)

In [70]:
powerOfTwo(5)

32

In [74]:
def poerOfTwo(n):
    op = 2
    for i in range(1,n+1):
        op = op**i
    return op

In [77]:
powerOfTwo(0)

1

In [88]:
def reverseN(n):
    if n<10:
        print(n)
        return
    print(n%10)
    reverseN(n//10)

In [92]:
reverseN(12345)

5
4
3
2
1

In [104]:
def reverseN(n):
    global op
    if n<10:
        op = op*10+n
        return
    op = op*10+n%10
    reverseN(n//10)

In [105]:
op = 0
reverseN(1234)
op

4321

In [108]:
def letterCasePermutation(ip,op):
    if len(ip) == 0:
        print(op)
        return
    
    if ip[0] in "1234567890":
        letterCasePermutation(ip[1:],op+ip[0])
    else:
        letterCasePermutation(ip[1:],op+ip[0])
        letterCasePermutation(ip[1:],op+ip[0].upper())

In [109]:
ip = "a1b2"
op = ''
letterCasePermutation(ip,op)

a1b2
a1B2
A1b2
A1B2

In [113]:
def palindrome(n):
    global op
    if n<10:
        op=op*10+n%10
        return
    op = op*10+n%10
    palindrome(n//10)
    if op == n:
        return True
    else:
        return False

In [120]:
op = 0
n = 369
palindrome(3663)

True

In [124]:
def lengthOfNumber(n):
    global lOfN
    if n<10:
        lOfN = lOfN+1
        return
    lOfN = lOfN+1
    lengthOfNumber(n//10)

def isArmstrong(n,lOfN):
    global val
    if n<10:
        val = val+(n%10)**lOfN
        return
    val = val+(n%10)**lOfN
    isArmstrong(n//10,lOfN)
    if n == val:
        return True
    else:
        return False

In [130]:
lOfN = 0
val = 0
n = 8208
lengthOfNumber(n)
print("Length of ",n," is: ",lOfN)
isArmstrong(n,lOfN)

Length of  8208  is:  4

True